@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div id="webchat"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/preview/botchat.js"></script>
    <script>

        const speechOptions = {

            speechRecognizer: new CognitiveServices.SpeechRecognizer({ subscriptionKey: '@ViewData["SpeechKey"]' }),
            speechSynthesizer: new CognitiveServices.SpeechSynthesizer({
                gender: CognitiveServices.SynthesisGender.Female,
                subscriptionKey: '@ViewData["SpeechKey"]',
                voiceName: '@ViewData["VoiceName"]'
            })
        };

        window.WebChat.renderWebChat({
            directLine: window.WebChat.createDirectLine({
                secret: '@ViewData["DirectLineSecret"]',
                user: { id: '@ViewData["UserId"]' },
                speechOptions: speechOptions,
                resize: 'detect',
                botAvatarInitials: 'AS',
                userAvatarInitials: 'US',                
            })
        }, document.getElementById('webchat'));
    </script>
</body>