@model WebChatViewModel
@{
    ViewData["Title"] = "Web Chat";
}
    <div id="webchat"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script>
        var userId = '@Model.UserID';
        var userName = '@Model.UserName';
        var userInitials = userName.replace(/(\S)\S*\s*/ig, "$1");

        const speechOptions = {

            speechRecognizer: new CognitiveServices.SpeechRecognizer({ subscriptionKey: '@Model.SpeechKey' }),
            speechSynthesizer: new CognitiveServices.SpeechSynthesizer({
                gender: CognitiveServices.SynthesisGender.Female,
                subscriptionKey: '@Model.SpeechKey',
                voiceName: '@Model.VoiceName'
            })
        };

        var bot = window.WebChat.createDirectLine({
            token: '@Model.DirectLineToken',
            user: { id: userId, name: "User", role: "user" },
            speechOptions: speechOptions,
            resize: 'detect',
        });

        var userName = '@ViewData["UserName"]';
        var userInitials = userName.replace(/(\S)\S*\s*/ig, "$1");

        window.WebChat.renderWebChat({
            directLine: bot,
            botAvatarInitials: 'VA',
            userAvatarInitials: userInitials
        }, document.getElementById('webchat'));

        bot.postActivity({
            from: {id: '@ViewData["UserId"]', name: "User", role: "user" },
            name: 'startConversation',
            type: 'event',
            value: ''
        })
        .subscribe(function (id) {
            console.log('trigger "startConversation" sent');
        });
    </script>