@{
    ViewData["Title"] = "Web Chat";
}
<body>
    <div id="webchat"></div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/CognitiveServices.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script>

        const speechOptions = {

            speechRecognizer: new CognitiveServices.SpeechRecognizer({ subscriptionKey: '@ViewData["SpeechKey"]' }),
            speechSynthesizer: new CognitiveServices.SpeechSynthesizer({
                gender: CognitiveServices.SynthesisGender.Female,
                subscriptionKey: '@ViewData["SpeechKey"]',
                voiceName: '@ViewData["VoiceName"]'
            })
        };

        var bot = window.WebChat.createDirectLine({
            token: '@ViewData["DirectLineToken"]',
            user: { id: '@ViewData["UserId"]' },
            speechOptions: speechOptions,
            resize: 'detect',
            botAvatarInitials: 'VA',
            userAvatarInitials: 'US',
        });

        window.WebChat.renderWebChat({
            directLine: bot
        }, document.getElementById('webchat'));

        bot.postActivity({
            from: {id: '@ViewData["UserId"]', name: "User", role: "user" },
            name: 'startConversation',
            type: 'event',
            value: ''
        })
        .subscribe(function (id) {
            console.log('trigger "startConversation" sent');
        });
    </script>
</body>