@model WebChatViewModel
@{
    ViewData["Title"] = "Web Chat";
}
<div class="content-row">
    <div id="webchat" role="main"></div>
</div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
    (async function() {
        var userId = '@Model.UserID';
        var userName = '@Model.UserName';
        var speechKey = '@Model.SpeechKey';
        var speechRegion = '@Model.SpeechRegion';
        var directLineToken = '@Model.DirectLineToken';

        // Initials are captured used for user avatar
        var userInitials = userName.replace(/(\S)\S*\s*/ig, "$1");

        let speechFactory;

        if (speechKey != '' && speechRegion != '') {
            speechFactory  = await window.WebChat.createCognitiveServicesSpeechServicesPonyfillFactory({
                region: speechRegion,
                subscriptionKey: speechKey
            });
        }
        
        var bot = window.WebChat.createDirectLine({
            token: directLineToken,
            userID: userId
        });

        window.WebChat.renderWebChat({
            directLine: bot, 
            userID: userId,
            botAvatarInitials: 'VA',
            userAvatarInitials: userInitials,
            webSpeechPonyfillFactory: speechFactory
        }, document.getElementById('webchat'));
    })().catch(err => alert(err));
</script>